<html>
<body>
    <div class="login">
       <h1>Winequality Project</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Predict Winequality</legend>
        </h1>
        
        <div class="mb-3">
            <label class="form-label">fixed acidity</label>
            <input class="form-control" type="number" step="0.1" name="fixed_acidity"
                placeholder="fixed acidity" min='2' max='20' />
        </div>
        <div class="mb-3">
            <label class="form-label">volatile acidity</label>
            <input class="form-control" type="number" step="0.01" name="volatile_acidity"
                placeholder="volatile acidity" min='0' max='2' />
        </div>
        <div class="mb-3">
            <label class="form-label">citric acid</label>
            <input class="form-control" type="number" step="0.01" name="citric_acid"
                placeholder="citric acid" min='0' max='1' />
        </div>
        <div class="mb-3">
            <label class="form-label">residual sugar</label>
            <input class="form-control" type="number" step="0.1" name="residual_sugar"
                placeholder="residual sugar" min='0' max='20' />
        </div>
        <div class="mb-3">
            <label class="form-label">chlorides</label>
            <input class="form-control" type="number" step="0.001" name="chlorides"
                placeholder="chlorides" min='0' max='1' />
        </div>
        <div class="mb-3">
            <label class="form-label">free sulfur dioxide</label>
            <input class="form-control" type="number" step="1" name="free_sulfur_dioxide"
                placeholder="free sulfur dioxide" min='0' max='80' />
        </div>
        <div class="mb-3">
            <label class="form-label">total sulfur dioxide</label>
            <input class="form-control" type="number" step="1" name="total_sulfur_dioxide"
                placeholder="total sulfur dioxide" min='0' max='300' />
        </div>
        <div class="mb-3">
            <label class="form-label">density</label>
            <input class="form-control" type="number" step="0.00001" name="density"
                placeholder="density" min='0.9' max='1.1' />
        </div>
        <div class="mb-3">
            <label class="form-label">pH</label>
            <input class="form-control" type="number" step="0.01" name="pH"
                placeholder="pH" min='2' max='5' />
        </div>
        <div class="mb-3">
            <label class="form-label">sulphates</label>
            <input class="form-control" type="number" step="0.01" name="sulphates"
                placeholder="sulphates" min='0' max='2.5' />
        </div>
        <div class="mb-3">
            <label class="form-label">alcohol</label>
            <input class="form-control" type="number" step="0.1" name="alcohol"
                placeholder="alcohol" min='5' max='20' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Winequality" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>